<nav class="navbar mt-0 bg-danger" id="navbar">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <a class="navbar-brand" href="#">
          <img src="../../../assets/gifAvatarMontserrat.jpg" class="miAvatar navbar-brand" alt="hola" /></a>
      </div>
      <div class="col mt-3">
        <h5>to&nbsp;Do&nbsp;App</h5>
      </div>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<div class="container fluid mt-5" id="principal">
  <div class="row mt-5">
    <div class="row mt-3">
      <div class="col-lg-9 offset-lg-2">
        <input type="text" [(ngModel)]="nombreTarea" (keydown.enter)="agregarTarea()"
          class="form-control form-control-lg mt-5 p-3 text-center" placeholder="Inserta tarea..." />
        <div *ngIf="listaTareas.length === 0" class="col col-6 offset-3 mt-3">
          <div class="card m-3 p-2 text-white bg-danger" id="card">
            <h6 class="text-center">No hay tareas para mostrar</h6>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex justify-content-between" *ngFor="let tarea of listaTareas; let i = index">
            <span class="cursor m-1" (click)="modificarTarea(i, tarea)">
              <p *ngIf="tarea.estado">✔️</p>
              <p *ngIf="!tarea.estado">⚪</p>
            </span>
            <span>{{ tarea.nombre }}</span>
            <span class="cursor text-danger m-1" (click)="eliminarTarea(i)">
              <i class="fas fa-md fa-trash-alt"> </i>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
