/* You can add global styles to this file, and also import other style files */

body {
  /* Ubicación de la imagen */
  background-image: url('./assets/fondo2.jpg');
  /* centrada, vertical y horizontalmente */
  background-position: center center;
  /* que no se repita */
  background-repeat: no-repeat;
  /* fijada en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
  background-attachment: fixed;
  /* se reescale automáticamente con el cambio del ancho de ventana del navegador */
  background-size: cover;
  /* Se mueste un color de fondo mientras se está cargando la imagen de fondo o si hay problemas para cargarla */
  background-color: rgb(243, 104, 104);
  }
